<?xml version="1.0" encoding="utf-8" ?>
<module name="common">

  <bind service="TestDependencyInjectionAndSettings.IModuleCommonBased, TestDependencyInjectionAndSettings"
    to="TestDependencyInjectionAndSettings.ModuleCommonBased, TestDependencyInjectionAndSettings"
    scope="singleton"/>
  
</module>