<?xml version="1.0"?>
<configuration>
	<injectionModules overridesPath="..\..\modules\*.config" sharedModulePath="..\..\modules\common\*.config">
		<injectionModule type="TestDependencyInjectionAndSettings.TestBindings, TestDependencyInjectionAndSettings"></injectionModule>
	</injectionModules>
</configuration>